html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
div{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(
        pink,
        black
    );
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
span{
    color: bisque;
    transform: rotateY(0deg);
    transform: rotateX(0deg);
    animation: rotateText 10s forwards infinite;
}
@keyframes rotateText{
    from{
        transform: rotateY(0deg) rotateX(0deg);
    }
    to{
        transform: rotateY(360deg) rotateX(360deg);
    }
}